<div>
    <h2 id="page-heading">
        <span jhiTranslate="jflowApp.journalS.home.title">Journal S</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-journal-s" [routerLink]="['/journal-s/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jflowApp.journalS.home.createLabel">
            Create new Journal S
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="journalS">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jflowApp.journalS.objectId">Object Id</span></th>
            <th><span jhiTranslate="jflowApp.journalS.objectName">Object Name</span></th>
            <th><span jhiTranslate="jflowApp.journalS.productId">Product Id</span></th>
            <th><span jhiTranslate="jflowApp.journalS.title">Title</span></th>
            <th><span jhiTranslate="jflowApp.journalS.shortTitle">Short Title</span></th>
            <th><span jhiTranslate="jflowApp.journalS.primaryLanguage">Primary Language</span></th>
            <th><span jhiTranslate="jflowApp.journalS.companyGroup">Company Group</span></th>
            <th><span jhiTranslate="jflowApp.journalS.publisher">Publisher</span></th>
            <th><span jhiTranslate="jflowApp.journalS.publishingSegment">Publishing Segment</span></th>
            <th><span jhiTranslate="jflowApp.journalS.imprint">Imprint</span></th>
            <th><span jhiTranslate="jflowApp.journalS.medium">Medium</span></th>
            <th><span jhiTranslate="jflowApp.journalS.creationDate">Creation Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let journalS of journalS ;trackBy: trackId">
                <td><a [routerLink]="['/journal-s', journalS.id, 'view' ]">{{journalS.id}}</a></td>
                <td>{{journalS.objectId}}</td>
                <td>{{journalS.objectName}}</td>
                <td>{{journalS.productId}}</td>
                <td>{{journalS.title}}</td>
                <td>{{journalS.shortTitle}}</td>
                <td jhiTranslate="{{'jflowApp.Language.' + journalS.primaryLanguage}}">{{journalS.primaryLanguage}}</td>
                <td jhiTranslate="{{'jflowApp.CompanyGroup.' + journalS.companyGroup}}">{{journalS.companyGroup}}</td>
                <td>{{journalS.publisher}}</td>
                <td>{{journalS.publishingSegment}}</td>
                <td>{{journalS.imprint}}</td>
                <td>{{journalS.medium}}</td>
                <td>{{journalS.creationDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/journal-s', journalS.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/journal-s', journalS.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'journal-s/'+ journalS.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
