<div>
    <h2 id="page-heading">
        <span jhiTranslate="jflowApp.gscontent.home.title">Gscontents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gscontent" [routerLink]="['/gscontent/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jflowApp.gscontent.home.createLabel">
            Create new Gscontent
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="gscontents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jflowApp.gscontent.objectId">Object Id</span></th>
            <th><span jhiTranslate="jflowApp.gscontent.repoContentPath">Repo Content Path</span></th>
            <th><span jhiTranslate="jflowApp.gscontent.creationDate">Creation Date</span></th>
            <th><span jhiTranslate="jflowApp.gscontent.parentId">Parent Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gscontent of gscontents ;trackBy: trackId">
                <td><a [routerLink]="['/gscontent', gscontent.id, 'view' ]">{{gscontent.id}}</a></td>
                <td>{{gscontent.objectId}}</td>
                <td>{{gscontent.repoContentPath}}</td>
                <td>{{gscontent.creationDate | date:'mediumDate'}}</td>
                <td>{{gscontent.parentId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/gscontent', gscontent.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gscontent', gscontent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gscontent/'+ gscontent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
